server:
  port: 9999

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/book?characterEncoding=UTF-8&useSSL=true&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  #开启jpa的sql打印
#  jpa:
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true

